<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>La mejor pelicula de la historia <%= title %>!</h1>
    <p><%= desc %></p>
    <img src="<%= imgURL %>" alt="Vertigo (1958)">
</body>
</html>